/*micuenta*/
.contenedor-formulario {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    margin: auto;
    font-weight: bold
}

.contenedor-formulario-texto {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    margin: auto;
    font-weight: bold
}

.contenedor-fieldset {
    padding: 20px;
    margin: 20px;
    color: #4F5252;
    .contenedor-form {
        color: black;
        font-weight: bold;
        .contenedor-input {
            background-color: white;
            color: black;
            font-weight: bold;
        }
    }
}