/*valoracion*/
$color: #FFC4C4;
.contenedor-tabla {
    margin: auto;
    padding: auto;
    text-align: center;
    background-color:$color;
    .subcontenedor-tabla {
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        tr {
            color: rgb(255, 255, 255);
        }
        .contenedor-nombres {
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-align: center;
        }
        td {
            padding: 10px;
            margin: 10px;
            text-align: center;
        }
    }
}

.contenedor-comentarios {
    margin: 35px;
    text-align: center;
    .contenedor-texto {
        font-weight: bold;
    }
}
@media screen and (max-width:300px) {

    .contenedor-main-valoracion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "contenedor-tabla"
            "contenedor-texto"
            "contenedor-comentarios";
    }
}

