/*valoracion*/
$color: #FFC4C4;
.contenedor-valoracion {
    width: 100%;
    margin-top: 30px;
}
.subcontenedor-valoracion {
    width: 90%;
    margin: auto;
}
.contenedor-tabla {
    margin: auto;
    padding: auto;
    text-align: center;
    background-color:$color;
    .subcontenedor-tabla {
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        tr {
            color: rgb(255, 255, 255);
        }
        .contenedor-nombres {
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-align: center;
        }
        td {
            padding: 10px;
            margin: 10px;
            text-align: center;
        }
    }
}

.contenedor-comentarios textarea {
    max-height: 300px;
    height: 200px;
    width: 500px;
}
.contenedor-comentarios {
    margin: auto;
    text-align: center;
    padding: 20px;
    label {
        display: block;
    }
    .contenedor-texto {
        font-weight: bold;
        margin: 20px;
    }

}
.imagen-valoracion img {
    display: flex;
    margin: 30px auto;
    flex: 1;
    width: 50%;
    display: block;
    align-self: center;
}
.opiniones{
    display: grid;
    grid-template-columns: repeat(4, auto);
}
@media screen and (max-width:800px){
    .opiniones {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "contenedor-tabla"
            "contenedor-texto"
            "contenedor-comentarios"
            "imagen-valoracion";
    }
    .imagen-valoracion{
        height: auto;
        width: 100%;
    }
    .contenedor-tabla{
        width: 70%;
    }
}